@import "tailwindcss";

@theme {
  --color-primary: #df6951;
  --font-poppins: "Poppins";
  --font-volkhov: "Volkhov";
  --font-manrope: "Manrope";
}

body {
  font-family: "Circular Std", sans-serif;
}

.services-dropShadow {
  box-shadow: 0 100px 80px 0 rgba(0, 0, 0, 0.02),
    0 64.815px 46.852px 0 rgba(0, 0, 0, 0.02),
    0 38.519px 25.481px 0 rgba(0, 0, 0, 0.01), 0 20px 13px 0 rgba(0, 0, 0, 0.01),
    0 8.148px 6.519px 0 rgba(0, 0, 0, 0.01),
    0 1.852px 3.148px 0 rgba(0, 0, 0, 0);
}

.stroke-gradient {
  /* stroke: (linear-gradient(180deg, #a7327a 0%, #3b90fb 100%), #a7327a); */
  border-color: (linear-gradient(180deg, #a7327a 0%, #3b90fb 100%), #a7327a);
  /* border: #a7327a !important; */
}
